@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap');

html, body {
	position: relative;
	width: 100%;
    height: 100%;    
}

body {
	/* color: #333; */
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
	font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}


.center {
    text-align:center;
}


.right {
    float: right;
}


h1,h2,h3,h4 {
    /* color:slategray; */
}


.w {
    max-width: 800px;
    font-size: 90%;
    padding-top:0.5em;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content {
    padding:20px;
    padding-bottom: 100px;    /* Footer height */
}


#header {
    /* grid */
    display: grid;
    grid-template-columns: auto 100px 1fr 50px ;
    align-items: center;
    justify-items: center;
    column-gap: 10px;



    background-color: rgba(0, 0, 0, 0.794);
    /* background-color: #222; */
    padding: 10px 10px 15px 10px;
    /* border-bottom: 1px dashed; */
}

#header  *{
    margin:0;
    color: white !important;
}

#footer {
    background-color: rgba(138, 210, 255, 0.349); 
    
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;            /* Footer height */
    padding-top:15px;
    /* border-top: 1px dasheD; */

}

.title {
    font-size: 22px;
    font-variant: small-caps;
}


.graphql-logo {
    width:60px; 
    height:60px; 
}


.smallinfo {
    opacity: 0.7;
    font-size:90%;
    /* letter-spacing: 1px; */
}

